# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Directories
.vscode/
.idea/
*.swp
*.swo

# Logs & Temporary Files
*.log
*.tmp
*.temp

# Generated test output files
*.bin
*.part*.html
test/
